<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册验证</title>
</head>
<body>
	尊敬的用户，您好：
	<p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您距离成功注册只差一步了。请点击下面的按钮，完成注册。
	<p>&nbsp;&nbsp;&nbsp;&nbsp;<a href='http://www.talklife.com.cn/user/Register?registerID=#CODE#'>完成注册</a>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;如果点击无效，请复制下方网页地址，到浏览器地址栏打开：
	<p>&nbsp;&nbsp;&nbsp;&nbsp;<font color="purple">http://www.talklife.com.cn/user/Register?registerID=#CODE#</font>
	<p><p>
	----------
	<p>漫谈生活
</body>
</html>